$white: #ffffff;
$black: #000000;
$primarycolor: #045d5d;
$secoundrycolor: #017e7e;
$orange: #FFA500;
$orange-shade: #ffebce;
$blue: #002060;
$blue-shade1: #d7e8fc;
$grey: #f4f6f9;
$grey-shade: #787878;
$green-shade: #d0fff1;
