@import '../../../assets/style/helpers/variables';
@import '../../../assets/style/helpers/mixins';

.total-vaccine{
    background-color: $grey;
    padding-bottom: 6rem;
    .card{
        background-color: $white;
        border: none;
        border-radius: 1rem;
        height: 100%;
        .vaccine-circle{
            width: 8rem;
            height: 8rem;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            top: -4rem;
            position: absolute;
            left: 40%;
            img{
                max-width: 50%;
            }
            &.circle-blue{
                background-color: $blue-shade1;
            }
            &.circle-green{
                background-color: $green-shade;
            }
            &.circle-orange{
                background-color: $orange-shade;
            }
        }
        .card-body{
            padding: 8rem 3rem 1rem;
            .vaccination-details{
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-bottom: 2rem;
                .card-heading{
                    color: $grey-shade;
                }
                .total{
                    font-size: 2.4rem;
                }
            }
            .vacccination-row{
                justify-content: space-around;
            }
            h5{
                color: $grey-shade;
            }
            h4{
                font-size: 1.6rem;
            }
        }
    }
    .top-space{
        margin-top: 6rem;
    }
}